.default-layout {
    &-container {
        width: 100%;
        min-height: 80vh;
        border-radius: 40px;
        background: #212121;
        box-shadow: inset 7px 7px 14px #1f1f1f,
        inset -7px -7px 14px #232323;
    }
}