.default-layout {
    width: 550px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;

    &-container {
        width: 100%;
        min-height: 80vh;
        border-radius: $rounded-size;
        background: #DFE9F6;
    }
}