.default-layout {
    &-container {
        width: 100%;
        min-height: 80vh;
        border-radius: 50px;
        background: #a6a6a6;
        box-shadow:  41px 41px 82px #8d8d8d,
        -41px -41px 82px #bfbfbf;
    }
}