.search-input {
    border: 0;
    border-bottom: 1px solid rgba(#000000, 0.2);
    background-color: transparent;
    border-radius: 0;
    font-weight: 600;
    width: 50%;
    font-size: 3rem;
    padding: 1rem 0;

    &:active, &:focus {
        border: 0;
        border-bottom: 1px solid rgba(#000000, 0.5);
        outline: 0;
        box-shadow: unset;
        background-color: transparent;
    }
}